* {
  font-family: "Roboto", monospace;
  outline: none;
}

#window {
  background: rgba(0, 0, 0, 0);
}

#input {
  margin: 5px;
  border-radius: 20px;
  border: none;
  background-color: #45403d;
  color: white;
}

#inner-box {
  background-color: #32302f;
}

#outer-box {
  margin: 2px;
  padding: 10px;

  background:
    linear-gradient(#32302f, #32302f) padding-box,
    linear-gradient(to bottom right, #d8a657, #e78a4e) border-box;
  border-radius: 20px;
  border: 2px solid transparent;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: white;
}

#entry {
  border-radius: 20px;
  margin-top: 10px;
}

#entry:nth-child(even) {
  background-color: #45403d;
}

image {
  padding-left: 5px;
}

#entry:selected {
  background-color: #5a524c;
}

#text:selected {
  background: transparent;
}

list {
  background-color: #32302f;
}
